# /BE_NEUTRAL/.env
# ==========================================
# GERAL & MONGODB
# ==========================================
MONGO_URL=mongodb://mongo:27017
MONGO_DB_NAME=pipeline_db
FRONTEND_URL=http://localhost:3000

# ==========================================
# MISTRAL AI
# ==========================================
MISTRAL_API_KEY=Complete with your current API key
MISTRAL_MODEL=open-mistral-7b
MISTRAL_TEMPERATURE_DEFAULT=0.2

# ==========================================
# RESEND (Emails)
# ==========================================
EMAIL_ENABLED=True
RESEND_API_KEY=Complete with your current API key
EMAIL_FROM_NAME=Multi_Driven_Analytical_Tool_Pipeline
EMAIL_SENDER=onboarding@resend.dev
